# Packages
composer.phar
vendor
node_modules

# Environment
.env
.env.backup
.env.production

# Build
build
dist
compiled
# .fly
# Dockerfile
# .dockerignore
# fly-deploy.yml
# fly.toml

# System/Editor
.fleet
.idea
.nova
.vscode
.zed

# Leaf
.hana
.alchemy
hot
storage/
public/storage

# Logs
npm-debug.log
yarn-error.log
